{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}First Project {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav>
            <a href="{% url 'home' %}">MyBrand</a>
            <ul>
                <li><a href="{% url 'home' %}" class="active">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="{% url 'contact' %}" class="nav-btn">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Page Content -->
    {% block content %}

    {% endblock %}
</body>

</html>